@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gridcontainer-1 {
    padding: 20% 20px;
    width: 60%;
    display: grid;
    grid-template-areas: 
        'b1 b2'
        'b3 b4'
        'b5 b6'
    ;
}

.box-area-1 {
    grid-area: b1;
}

.box-area-1 {
    grid-area: b2;
}

.box-area-1 {
    grid-area: b3;
}

.box-area-1 {
    grid-area: b4;
}

.box-area-1 {
    grid-area: b5;
}

.box-area-1 {
    grid-area: b6;
}



/*----------------- COMPONENTS -----------------*/

/* TEXT STYLES */

h1 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 3rem;
}
h2 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 2.5rem;
}
h3 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 2rem;
}
h4 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 1.563rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 2rem;
}

h5 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 2rem;
}
p {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 1.7rem;
}
.menu_item {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 1.5rem;
    font-style: uppercase;
}

/* FOOTER */

footer {
    background-color: #467B5F;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer > .columns {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: center;
    padding-inline: 10vw;   
    padding-block: 10vh;
}
footer > .columns > div > h4 {
    color: white;
    margin-bottom: 1rem;
    border-bottom: solid 1px white;
    padding-bottom: 1rem;
}
footer > .columns > div > ul > p {
    color: white;
}
footer > .socials_and_copyright {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
footer > .partners {
    width: 100%;
}
.footer > .partners > h4 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}
.footer > .partners > ul {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}
footer > .partners > ul > img {
    max-width: 7em;
}

@media (max-width:1024px) {


footer {
    justify-content:center;
}
}

@media (max-width:768px) {

}

@media (max-width:425px) {

}

@media (max-width: 320px) {

}