@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 18px = 1 rem */
/* 36px = 2 rem */
/* 45px = 2.5 rem */


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F7F5F4;
    justify-content: center;
    align-items: center;
}

/*----------------- COMPONENTS -----------------*/

/* TEXT STYLES */

h1 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 3rem;
}

h2 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 2.5rem;
}

h3 {
    color: #467B5F;
    font-family: 'Shippori Mincho', serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -2%;
    line-height: 2rem;
}

p {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 1.5rem;
}

.menu_item {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 1.5rem;
    font-style: uppercase;
}



/* BUTTONS */


.button-text {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 15px 32px;
}


.button-plain .button-text {
    color: #467B5F;
    border-radius: 12px;
    
}


.button-my-account {
    color: #467B5F;
    border-radius: 12px;
}


.button-arrow-right {
    color: #467B5F;
    border-radius: 12px;
}


.button-arrow-left {
    color: #467B5F;
    border-radius: 12px;
}


.button-phonecall {
    color: #467B5F;
    border-radius: 12px;
}


.button-goback {
    color: #c0bebe;  /* finn ut hvordanlage 10% transparency */
    border-radius: 12px;
}

